 body {
  content: "";
  height: 100%;
  clear: both;
  background-color: black;
  overflow: auto;
  background: linear-gradient(to top, #121c1f 35%, #5b6c72, rgb(129, 129, 129));
  color: whitesmoke;
}
.title-text{
  font-family: "Permanent Marker", cursive;
  color: black;
  font-size: 55px;
  text-align:start;
  margin-left: 25pt;
}
p.about {
  color: whitesmoke;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
}
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background: linear-gradient(to top, #121c1f 35%, #5b6c72, rgb(129, 129, 129));
}

.footer{
  padding-bottom: 3.5rem;
  
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
