body {
  content: "";
  min-height: 100%;
  clear: both;
  background-color: black;
  overflow: auto;
  background: linear-gradient(to top, #121c1f 25%, #212729, rgb(129, 129, 129));
  color: whitesmoke;
}

html{
  height: 100%;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  } 








#header {
  background-color: black;
  text-align: center;
}

#header-text {
  padding-top: 17rem;

  color: white;
  font-size: 75px;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}

#header-text-lower {
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
}

#header-button {
  color: white;
  font-size: 30px;
  font-variant-caps: small-caps;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
