 body {
  content: "";
  height: 100%;
  clear: both;

  overflow: auto;
  background: linear-gradient(to top, #121c1f 35%, #5b6c72, rgb(129, 129, 129));
  color: whitesmoke;
}

 /* .img{
max-height: fit-content;
  min-height:fit-content;
  max-width: fit-content;
  min-width: fit-content;
 }  */


#header{
  padding-top: 4rem;
  color: black;
  font-size: 70px;
  text-align: justify;
  font-family: "Permanent Marker", cursive;
 border-width: 10pt;
 border-bottom:solid;
 border-color: black;
  
}

.header-text{
  padding-top: 4rem;
  font-family: "Bebas Neue";
  color: #121c1f;
  font-size: 40px;
  text-align: justify;
  padding-bottom: 6rem;


  
}

.card{
  background-color: #5b6c72;
  border-width: 20pt;
  border:solid;
  border-color: black;
  padding-bottom: 1.5rem;

}




.card-title{
  padding-top: 3rem;

  color: black;
  font-size: 40px;
  text-align: justify;
  font-family: "Permanent Marker", cursive;
}
.card-text {
  text-align: justify;
  color: black;
  font-size: 20px;
  font-family: "Bebas Neue"
}

#website-link {
  text-align: justify;
  color: rgb(16, 20, 224);
  font-size: 15px;
  font-stretch: expanded;
  font-family: "Roboto", sans-serif;
text-decoration: underline;
font-weight: bolder;
}

.footer{
  padding-bottom: 3.5rem;
 
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
